<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chubbymobile.wwh.hawk">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appHawk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".landing.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".landing.MainActivity" >
        </activity>
        <activity
            android:name=".Logon.LoginActivity"
            android:theme="@style/AppTheme.NoActionBarNoTitle" >
        </activity>
        <activity
            android:name=".Logon.LogQQActivity"
            android:theme="@style/AppTheme.NoActionBarNoTitle" >
        </activity>
        <service android:name=".services.BroadcastService" />
    </application>

</manifest>